/* Write your CSS here */
.project-container {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.duration-container {
  display: flex;
  flex-direction: row;
}

.project-image {
  width: 100%;
}
